a:link{
     color: orange;
}

a:visited{
     color: green;
}

a:hover{
    text-decoration: none;
}

.container > p:first-child{
       font-size: 150%;
}

.container:first-line{
        color: red;
}

table:nth-child(even){
         background-color: #333;
         color: white;
}
